<br>
       <h2 style="color:blue">University table</h2>
<table border="1px" class="table table-striped" style="table-align:center">
    <tr >
        <th>B_ID</th>
        <th> NAME</th>
        <th>Image</th>
        <th>Status</th>
        <th>Contents</th>
        <th>DELETE</th>
        <th>UPDATE</th>

    </tr>
    {% for states in form %}
    <tr>


        <td>{{states.name}}</td>
        <td>{{states.logo}}</td>

        <td>{{states.contents}}</td>

        <td>
            <a href="{% url 'del_uni' states.uni_id %}">
                <button class="btn btn-danger">Delete</button></a>
        </td>
         <td>
            <a href="{% url 'upd_uni' states.uni_id %}">
                <button class="btn btn-danger">Update</button></a>
        </td>

    </tr>
    {% endfor %}

</table>
